.container{
  margin-left: 100px;
  border: 0px solid;
  margin-top: 50px;
  width: auto;
}
.container button{
    background-color: rgba(20, 231, 1, 0.679);
    width: 200px;
    height: 60px;
    font-size: large;
    border-radius: 10px;
}